.pf1 {
  // Buttons
  // TODO: Make the scoping/selectors more specific
  button {
    border: var(--pf1-border-groove);
  }
  button:active {
    background: var(--pf1-bg-dark-2);
  }

  .editor.prosemirror .editor-menu {
    button {
      border: none; // v13 no longer has this unlike before
    }
  }
}
