.application.pf1-v2 {
  .window-content {
    img {
      border: unset;
    }

    a {
      color: var(--pf1-v2-text-link);

      &:is([url], [data-action]) {
        text-decoration: underline;
      }

      &:hover {
        text-shadow: 0 0 8px var(--pf1-v2-shadow-primary);
      }
    }

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    :is(h1, h2, h3, h4, h5) {
      border-bottom: unset;
      margin: 0.5rem 0 0.25rem;
      text-shadow: none;
      border-bottom: var(--pf1-v2-font-border);

      &:first-child {
        margin-top: 0;
      }
    }

    h1 {
      font-family: var(--pf1-v2-font-h1);
      font-size: var(--pf1-v2-font-size-h1);
      font-variant: var(--pf1-v2-font-variant-h1);
      color: var(--pf1-v2-font-color-h1);
      border-bottom-color: var(--pf1-v2-font-color-h1);
      padding-bottom: 0.25rem;
    }

    h2 {
      font-family: var(--pf1-v2-font-h2);
      font-size: var(--pf1-v2-font-size-h2);
      font-variant: var(--pf1-v2-font-variant-h2);
      color: var(--pf1-v2-font-color-h2);
      border-bottom-color: var(--pf1-v2-font-color-h2);
    }

    h3 {
      font-family: var(--pf1-v2-font-h3);
      font-size: var(--pf1-v2-font-size-h3);
      font-variant: var(--pf1-v2-font-variant-h3);
      color: var(--pf1-v2-font-color-h3);
      border-bottom-color: var(--pf1-v2-font-color-h3);
    }

    h4 {
      font-family: var(--pf1-v2-font-h4);
      font-size: var(--pf1-v2-font-size-h4);
      font-variant: var(--pf1-v2-font-variant-h4);
      color: var(--pf1-v2-font-color-h4);
      border-bottom-color: var(--pf1-v2-font-color-h4);
    }

    h5 {
      font-family: var(--pf1-v2-font-h5);
      font-size: var(--pf1-v2-font-size-h5);
      font-variant: var(--pf1-v2-font-variant-h5);
      color: var(--pf1-v2-font-color-h5);
      border-bottom-color: var(--pf1-v2-font-color-h5);
    }

    h6 {
      font-family: var(--pf1-v2-font-h6);
      font-size: var(--pf1-v2-font-size-h6);
      font-variant: var(--pf1-v2-font-variant-h6);
      color: var(--pf1-v2-font-color-h6);
      border-bottom-color: var(--pf1-v2-font-color-h6);
    }

    :is(ol, ul) {
      margin: 0.25rem 0;
    }

    fieldset {
      border: 1px solid var(--pf1-v2-border-muted);
      padding: 0 0.5rem 0.5rem;
      border-radius: var(--pf1-v2-border-radius);

      legend {
        font-size: var(--font-size-16);
      }

      .form-group {
        margin: unset;
      }
    }

    code {
      background: var(--pf1-v2-background-fade-10);
      color: var(--pf1-v2-text);
      padding: 0 0.25rem;
      border: 1px solid transparent;
      border-radius: var(--pf1-v2-border-radius);
      line-height: 0.95rem;
      display: inline-block;
    }

    table {
      border-radius: var(--pf1-v2-border-radius);
      border: unset;

      thead {
        background-color: unset;
        color: var(--pf1-v2-text-primary);
        text-shadow: none;

        th {
          font-family: var(--pf1-v2-font-h);
          border-bottom: var(--pf1-v2-border-width-wide) solid var(--pf1-v2-border-primary);
        }
      }

      :is(th,td) {
        padding: 0.25rem 0.5rem;
      }

      tbody {
        tr:nth-child(even) {
          background-color: var(--pf1-v2-background-fade-10);
        }
      }
    }

    hr {
      height: var(--pf1-v2-border-width-wide);
      background: var(--pf1-v2-border-muted);
    }
  }


  // Make default button stand out
  .form-footer {
    button[type="submit"] {
      outline: var(--pf1-default-button-outline);
    }
  }
}
