{{!-- Apply Damage button/widget --}}
{{#*inline "applyDamageButton"}}
  {{!-- Apply full damage --}}
  <a class="inline-action" data-action="applyDamage" data-type="{{type}}" data-value="{{#if isHealing}}-{{/if}}{{damage.total}}" data-ratio="1" data-tooltip="{{#if isHealing}}PF1.ApplyHealing{{else}}PF1.ApplyDamage{{/if}}"
      data-tags="{{#if nonlethal}}nonlethal{{/if}}">
    <i class="fas fa-hammer" inert></i>
    <i class="absolute fas fa-plus" inert></i>
  </a>
  {{!-- Apply half damage --}}
  <a class="inline-action" data-action="applyDamage" data-type="{{type}}" data-value="{{#if isHealing}}-{{/if}}{{damage.half}}" data-ratio="0.5" data-tooltip="PF1.ApplyHalf"
      data-tags="{{#if nonlethal}}nonlethal{{/if}}">
    <i class="fas fa-hammer" inert></i>
    <i class="absolute" inert>½</i>
  </a>
{{/inline}}

{{!-- Damage row partial --}}
{{#*inline "damageRow"}}
  <tr>
    {{#with dr.normal}}
      <td class="roll damage normal">
        {{{inlineRoll.outerHTML}}}
      </td>
      <td class="damage-types">{{> "systems/pf1/templates/internal/damage-type-visual.hbs" damage=damageType}}</td>
    {{else}}
      <td></td>
      <td></td>
    {{/with}}

    {{#if atk.hasCritConfirm}}
    {{#with dr.crit}}
      <td class="roll damage critical">
        {{{inlineRoll.outerHTML}}}
      </td>
      <td class="damage-type">{{> "systems/pf1/templates/internal/damage-type-visual.hbs" damage=damageType}}</td>
    {{else}}
      <td></td>
      <td></td>
    {{/with}}
    {{/if}}
  </tr>
{{/inline}}

{{!-- Attack table partial --}}
{{#*inline "attackTable"}}
  {{#unless atk.notesOnly}}
    <table>
      <thead>
        {{#if atk.hasAttack}}
        <tr>
          <th class="attack-flavor" {{#if atk.hasCritConfirm}}colspan="4"{{else}}colspan="2"{{/if}}>
            {{atk.attack.flavor}}
            {{#if atk.rollData.d20}}
            <i class="fas fa-dice-d20" data-tooltip="PF1.CustomRollDesc"></i>
            {{else if atk.attack.isStatic}}
            {{#with atk.method}}
              {{#if icon}}
              <span class="part-method" data-tooltip="{{label}}" aria-label="{{localize label}}">
                {{{icon}}}
              </span>
              {{/if}}
            {{/with}}
            {{/if}}
          </th>
        </tr>
        {{#if atk.hasCritConfirm}}
        <tr>
          <th class="attack-flavor alt" colspan="2">{{atk.attack.flavor}}</th>
          <th class="attack-flavor crit-confirm" colspan="2">{{atk.critConfirm.flavor}}</th>
        </tr>
        {{/if}}
        {{else}}
        <tr>
          <th class="attack-damage" colspan="2">
            {{atk.damage.flavor}}
            <a class="attack-damage total fake-inline-roll inline-result" data-tooltip="PF1.Total">
              {{atk.damage.total}}
            </a>
            {{> applyDamageButton damage=atk.damage isHealing=atk.isHealing nonlethal=atk.nonlethal}}
          </th>
        </tr>
        {{/if}}
      </thead>

      <tbody>
        {{#if atk.hasAttack}}
        <tr class="attack">
          <td {{#if atk.hasCritConfirm}}colspan="2"{{else}}colspan="4"{{/if}} class="roll normal">
            {{{atk.attack.inlineRoll.outerHTML}}}
          </td>
          {{#if atk.hasCritConfirm}}
          <td colspan="2" class="roll critical">
            {{#if atk.critConfirm.armorAsDR}}
            {{! Armor as DR – Defense DC }}
            <span>{{localize "PF1.DefenseDC"}}:</span>
            {{/if}}
            {{{atk.critConfirm.inlineRoll.outerHTML}}}
          </td>
          {{/if}}
        </tr>

        {{#if atk.hasDamage}}
        <tr class="damage">
          <th colspan="2" data-damage-type="normal">
            {{atk.damage.flavor}}
            <a class="fake-inline-roll inline-dsn-hidden inline-result" data-tooltip="PF1.Total">
              {{atk.damage.total}}
            </a>
            {{> applyDamageButton damage=atk.damage isHealing=atk.isHealing nonlethal=atk.nonlethal type="normal"}}
          </th>
          {{#if atk.hasCritConfirm}}
          <th colspan="2" data-damage-type="critical">
            {{atk.critDamage.flavor}}
            <a class="fake-inline-roll inline-dsn-hidden inline-result" data-tooltip="PF1.Total">
              {{atk.critDamage.total}}
            </a>
            {{> applyDamageButton damage=atk.critDamage isHealing=atk.isHealing nonlethal=atk.nonlethal type="critical"}}
          </th>
          {{/if}}
        </tr>

        {{!-- Damage parts in an attack --}}
        {{#each atk.damageRows as |dr|}}
          {{> damageRow atk=../atk dr=dr}}
        {{/each}}
        {{/if}}

        {{else}}

        {{!-- Damage parts without an attack roll --}}
        {{#each atk.damageRows as |dr|}}
          {{> damageRow atk=../atk dr=dr}}
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  {{else}}
  {{#if atk.label}}
    <table>
      <thead>
        <tr>
          <th>
            {{atk.label}}
          </th>
        </tr>
      </thead>
    </table>
  {{/if}}
  {{/unless}}

  {{!-- Ammo --}}
  {{#if atk.ammo}}
    <div class="ammo group-container" data-ammo-id="{{atk.ammo.id}}" data-ammo-quantity="{{atk.ammo.quantity}}" data-tooltip="{{localize "PF1.AmmoRemaining" quantity=atk.ammo.remaining}}">
      <label class="group-title">{{localize "PF1.Subtypes.Item.loot.ammo.Single"}}</label>
      <img src="{{atk.ammo.img}}">
      {{#if (gt atk.ammo.quantity 1)}}
      <span class="quantity">{{atk.ammo.quantity}}×</span>
      {{/if}}
      <span class="name">{{atk.ammo.name}}</span>

      {{!-- Recover --}}
      <a class="inline-action" data-action="recoverAmmo" data-tooltip="PF1.RecoverAmmunition">
        <i class="fas fa-rocket" inert></i>
      </a>

      {{!-- Force Recover --}}
      <a class="inline-action" data-action="forceRecoverAmmo" data-tooltip="PF1.ForceRecover">
        <i class="fas fa-rocket" inert></i>
        <i class="absolute fas fa-plus" inert></i>
      </a>
    </div>
  {{/if}}
{{/inline}}

<div class="pf1 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenUuid}}data-token-uuid="{{tokenUuid}}"{{/if}} {{#if actionId}}data-action-id="{{actionId}}"{{/if}}>
  {{~> "systems/pf1/templates/chat/parts/attack-roll-header.hbs"}}

  {{#if targets}}
  {{> "systems/pf1/templates/chat/parts/attack-roll-targets.hbs"}}
  {{/if}}

  {{#each attacks as |atk idx|}}
  <div class="chat-attack" data-index="{{idx}}">
    {{> attackTable atk=atk}}

    {{#if atk.hasCards}}
    <hr>

    <div class="flexcol card-buttons">
      {{#each atk.cards as |cardGroup|}}
      <div class="card-button-group flexcol">
        <label>{{cardGroup.label}}</label>
        <div class="flexrow">
        {{#each cardGroup.items as |item|}}
          <button data-action="{{item.action}}" data-value="{{item.value}}" data-tags="{{item.tags}}"{{#if item.data}}{{#each item.data as |dValue dKey|}} data-{{dKey}}="{{dValue}}"{{/each}}{{/if}}>{{item.label}}</button>
        {{/each}}
        </div>
      </div>
      {{/each}}
      {{#if ../hasSave}}
      <button data-action="save" data-dc="{{../save.dc}}" data-save="{{../save.type}}"
        {{#if ../save.gmSensitiveLabel}} data-gm-sensitive-inner="{{../save.gmSensitiveLabel}}"{{/if}}
        data-tags="{{item.tags}}">{{../save.label}}</button>
      {{/if}}
    </div>
    {{else}}
    <div class="card-button-group flexcol">
      {{#if ../hasSave}}
      <button data-action="save" data-dc="{{../save.dc}}" data-save="{{../save.type}}"
        {{#if ../save.gmSensitiveLabel}} data-gm-sensitive-inner="{{../save.gmSensitiveLabel}}"{{/if}}
        data-tags="{{item.tags}}">{{../save.label}}</button>
      {{/if}}
    </div>
    {{/if}}

    {{{atk.effectNotesHTML}}}
  </div>
  {{/each}}

  {{~> "systems/pf1/templates/chat/parts/attack-roll-footer.hbs"}}
</div>
