<form class="{{cssClass}}" data-tooltip-class="pf1" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" data-edit="img">

    <div class="header-details">
      <h1 class="char-name">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}">
      </h1>
    </div>
  </header>

  {{!-- Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "PF1.Summary"}}</a>
    <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
  </nav>

  <section class="primary-body">
    <div class="tab summary" data-group="primary" data-tab="summary">
      {{!-- HD/XP reward --}}
      {{> "systems/pf1/templates/actors/parts/actor-level.hbs"}}

      {{!-- Health --}}
      {{#unless useWoundsAndVigor}}
      <div class="health base-health info-box-header">
        <h3>{{localize "PF1.HitPoints"}}</h3>
        <div class="info-box-joined current-max">
          <div class="info-box current">
            <h5>{{localize "PF1.Current"}}</h5>
            <div class="value">
              <span class="text-box direct wheel-change allow-relative" name="system.attributes.hp.value" data-dtype="Number">
                {{system.attributes.hp.value}}
              </span>
            </div>
          </div>

          <div class="info-box maximum">
            <h5>{{localize "PF1.Maximum"}}</h5>
            <div class="value">
              <span class="text-box direct" name="system.attributes.hp.base">
                {{system.attributes.hp.max}}
              </span>
            </div>
          </div>

          <div class="info-box temporary">
            <h5>{{localize "PF1.TempShort"}}</h5>
            <div class="value">
              <span class="text-box direct allow-relative" name="system.attributes.hp.temp" data-dtype="Number">
                {{#if system.attributes.hp.temp}}{{system.attributes.hp.temp}}{{/if}}
              </span>
            </div>
          </div>
        </div>

        <div class="info-box nonlethal">
          <h5>{{localize "PF1.Nonlethal"}}</h5>
          <div class="value">
            <span class="text-box direct allow-relative" name="system.attributes.hp.nonlethal" data-dtype="Number">
              {{#if system.attributes.hp.nonlethal}}{{system.attributes.hp.nonlethal}}{{/if}}
            </span>
          </div>
        </div>
      </div>

      {{else}}
      {{!-- Wounds & Vigor --}}
      <div class="health wounds-vigor">
        <div class="vigor info-box-header">
          <h3>{{localize "PF1.Vigor"}}</h3>

          <div class="info-box-joined current-max vigor">
            <div class="info-box current">
              <h5>{{localize "PF1.Current"}}</h5>
              <div class="value">
                <span class="text-box direct wheel-change allow-relative" name="system.attributes.vigor.value" data-dtype="Number">
                  {{system.attributes.vigor.value}}
                </span>
              </div>
            </div>
            <div class="info-box maximum">
              <h5>{{localize "PF1.Maximum"}}</h5>
              <div class="value">
                <span class="text-box direct" name="system.attributes.vigor.base">
                  {{system.attributes.vigor.max}}
                </span>
              </div>
            </div>
            <div class="info-box temp">
              <h5>{{localize "PF1.TempShort"}}</h5>
              <div class="value">
                <span class="text-box direct wheel-change allow-relative" name="system.attributes.vigor.temp" data-dtype="Number">
                  {{#if system.attributes.vigor.temp}}{{system.attributes.vigor.temp}}{{/if}}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="wounds info-box-header">
          <h3>{{localize "PF1.Wounds"}}</h3>

          <div class="info-box-joined current-max wounds">
            <div class="info-box current">
              <h5>{{localize "PF1.Current"}}</h5>
              <div class="value">
                <span class="text-box direct wheel-change allow-relative" name="system.attributes.wounds.value" data-dtype="Number">
                  {{system.attributes.wounds.value}}
                </span>
              </div>
            </div>
            <div class="info-box maximum">
              <h5>{{localize "PF1.Maximum"}}</h5>
              <div class="value">
                <span class="text-box direct" name="system.attributes.wounds.base">
                  {{system.attributes.wounds.max}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/unless}}

      <div class="defenses">
        {{!-- Armor Class --}}
        <div class="info-box">
          <h5>{{localize "PF1.ACNormal"}}</h5>
          <div class="value">
            <span class="text-box direct armor-class-input" name="system.attributes.ac.normal.value">
              {{system.attributes.ac.normal.value}}
            </span>
          </div>
        </div>

        {{!-- CMD --}}
        <div class="info-box">
          <h5>{{localize "PF1.CMDAbbr"}}</h5>
          <div class="value">
            <span class="text-box direct armor-class-input" name="system.attributes.cmd.value">
              {{system.attributes.cmd.value}}
            </span>
          </div>
        </div>

        {{!-- Saving Throws --}}
        <div class="info-box-joined saves">
          {{#each system.attributes.savingThrows as |savingThrow id|}}
          <div class="info-box saving-throw rollable" data-savingthrow="{{id}}">
            <h5><a class="rollable">{{savingThrow.label}}</a></h5>
            <div class="value">
              <span class="text-box direct savingthrow-{{id}}-input" name="system.attributes.savingThrows.{{id}}.base">
                {{savingThrow.total}}
              </span>
            </div>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="miscellaneous">
        {{!-- BAB --}}
        <div class="info-box">
          <h5>{{localize "PF1.BABAbbr"}}</h5>
          <div class="value">
            <span class="text-box direct bab-input" name="system.attributes.bab.value">
              {{system.attributes.bab.total}}
            </span>
          </div>
        </div>

        {{!-- Initiative --}}
        <div class="info-box attribute initiative">
          <h5><a class="rollable">{{localize "PF1.Initiative"}}</a></h5>
          <div class="value">
            <span class="text-box direct allow-relative" name="system.attributes.init.value" data-dtype="Number">
              {{system.attributes.init.total}}
            </span>
          </div>
        </div>

        {{!-- Size --}}
        <div class="info-box attribute">
          <h5>
            {{localize "PF1.Size"}}
          </h5>
          <div class="value">
            <select name="system.traits.size">
              {{selectOptions config.actorSizes selected=system.traits.size.base}}
            </select>
          </div>
        </div>

        {{!-- Stature --}}
        <div class="info-box attribute">
          <h5>
            {{localize "PF1.Stature"}}
          </h5>
          <div class="value">
            <select name="system.traits.stature">
              {{selectOptions config.actorStatures selected=system.traits.stature}}
            </select>
          </div>
        </div>
      </div>

      {{!-- Actions --}}
      <div class="combat-attacks">
        <section class="attacks-body">
          {{#each attacks as |section sid|}}
          <ol class="item-groups-list sub-scroll scroll-attacks" data-list="{{id}}"  data-type="{{create.type}}" data-subtype="{{create.system.subType}}">
            <ol class="item-list">
              <li class="item-list-header flexrow">
                <div class="item-name">
                  <h3>{{section.label}}</h3>
                </div>

                {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon-pf icon-magic-palm" data-tooltip="PF1.Type"></i></div>{{/if}}

                <div class="item-detail item-actions"><i class="icon-pf icon-gears" data-tooltip="PF1.ActionPlural"></i></div>

                <div class="item-detail item-uses"><i class="icon-pf icon-battery-pack" data-tooltip="PF1.ChargePlural"></i></div>

                {{#if @root.owner}}
                <div class="item-controls">
                  {{#if interface.create}}
                  <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-create="{{path}}">
                    <i class="fas fa-plus" inert></i>
                  </a>
                  {{/if}}
                </div>
                {{/if}}
              </li>

              {{#each section.items as |item iid|}}
              <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name rollable">
                  <div class="item-image" style='background-image: url("{{item.img}}")' data-tooltip="PF1.DisplayInChat"></div>
                  <h4>
                    {{item.name~}}
                  </h4>
                </div>

                {{#if section.showTypes}}
                <div class="item-detail item-type">
                  <span>{{lookup @root.config.attackTypes item.subType}}</span>
                </div>
                {{/if}}

                <div class="item-detail item-actions">
                  <div class="item-action">
                    {{#if item.hasAction}}
                    <a class="item-control item-action action roll" data-tooltip="PF1.PerformAttack">
                      <i class="fa-solid fa-dice-d20" inert></i>
                    </a>
                    {{/if}}
                  </div>
                </div>

                <div class="item-detail item-uses flexrow" data-tooltip-extended="item.{{item.id}}.resources">
                  {{#if item.isCharged}}
                  <span class="text-box value allow-relative" data-wheel-step="1" data-dtype="Number">{{item.uses.value}}</span>
                  {{#unless item.noMaxCharges}}
                  <span class="sep"> / </span>
                  <span class="max">{{item.uses.max}}</span>
                  {{/unless}}
                  {{/if}}
                </div>

                {{#if @root.owner}}
                <div class="item-controls">
                  <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit" inert></i></a>
                  <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy" inert></i></a>
                  <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash" inert></i></a>
                </div>
                {{/if}}
              </li>
              {{/each}}
            </ol>
          </ol>
          {{/each}}
        </section>
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      <div class="primary-content">
        {{editor notesHTML target="system.details.notes.value" toggle=_editorState.system.details.notes.value button=_editorState.system.details.notes.value engine="prosemirror" editable=@root.editable}}
        <!-- prose-mirror name="system.details.notes.value" value="{{system.details.notes.value}}" {{#if _editorState.system.details.notes.value}}toggled{{/if}}>{{{notesHTML}}}</prose-mirror -->
      </div>

      {{#if magicItems}}
      {{> "systems/pf1/templates/internal/table_magic-items.hbs" items=magicItems}}
      {{/if}}
    </div>
  </section>

</form>
