.theme-dark {
  --pf1-v2-border-width-wide: 1px;

  --pf1-v2-primary-h: 36; //28
  --pf1-v2-primary-s: 100%;
  --pf1-v2-primary-l: 70%;

  --pf1-v2-secondary-h: var(--pf1-v2-primary-h);
  --pf1-v2-secondary-s: 75%;
  --pf1-v2-secondary-l: 60%;

  --pf1-v2-tertirary-h: var(--pf1-v2-primary-h);
  --pf1-v2-tertirary-s: 75%;
  --pf1-v2-tertirary-l: 50%;

  --pf1-v2-color-primary: hsl(var(--pf1-v2-primary-h), var(--pf1-v2-primary-s), var(--pf1-v2-primary-l));
  --pf1-v2-color-secondary: hsl(var(--pf1-v2-secondary-h), var(--pf1-v2-secondary-s), var(--pf1-v2-secondary-l));
  --pf1-v2-color-tertirary: hsl(var(--pf1-v2-tertirary-h), var(--pf1-v2-tertirary-s), var(--pf1-v2-tertirary-l));

  /** Border **/
  --pf1-v2-border-input: transparent;
  --pf1-v2-border-muted: rgba(255, 255, 255, 0.1);

  --pf1-v2-border-error: rgba(105, 0, 8, 0.8);

  /** Text **/
  --pf1-v2-text-link: hsl(var(--pf1-v2-primary-h), 100%, 80%);

  --pf1-v2-text: rgb(239, 230, 216);
  --pf1-v2-text-muted: #a4a4a4;
  --pf1-v2-text-light: var(--pf1-v2-text);
  --pf1-v2-text-dark: #000000;
  --pf1-v2-text-inverted: var(--pf1-v2-text-dark);

  --pf1-v2-text-success: #26b231;
  --pf1-v2-text-warning: #ee9b3a;
  --pf1-v2-text-highlight: var(--pf1-v2-text-tertiary);

  /** Shadow **/
  --pf1-v2-shadow-primary: hsl(var(--pf1-v2-primary-h), var(--pf1-v2-primary-s), calc(var(--pf1-v2-primary-l) + 25%));

  /** Form **/
  --pf1-v2-checkbox-color: #000;
  --pf1-v2-checkbox-background: var(--pf1-v2-background-primary);
  --pf1-v2-slider-color: var(--pf1-v2-background-fade-20);

  /** Background **/
  --pf1-v2-background-input: rgba(255, 255, 255, 0.05);
  --pf1-v2-background-fade-10: rgba(255, 255, 255, 0.05);
  --pf1-v2-background-fade-15: rgba(255, 255, 255, 0.1);
  --pf1-v2-background-fade-20: rgba(255, 255, 255, 0.15);
  --pf1-v2-background-fade-negative-10: rgba(0, 0, 0, 0.1);

  /** App **/
  --pf1-v2-background-app: rgba(11, 10, 19, 0.9);
  --pf1-v2-background-app-header: hsl(9, 100%, 12%);

  --pf1-v2-text-app-header: #fff;

  --pf1-v2-border-app: rgba(255, 255, 255, 0.1);
  --pf1-v2-border-app-header: var(--pf1-v2-background-app-header);

  --pf1-default-button-outline: 1px solid brown;

  .application.pf1-v2 {
    .button {
      --button-background-color: var(--color-cool-5-50);
      --button-border-color: var(--color-light-5);
      --button-text-color: var(--color-light-3);
      --button-focus-outline-color: var(--color-warm-2);
      --button-hover-background-color: var(--color-warm-2);
      --button-hover-border-color: var(--color-light-3);
      --button-hover-text-color: var(--color-light-1);
    }
  }
}
