.pf1.sheet {
  :is(.item,.action) {
    :is(.action-summary, .item-summary) {
      flex: 0 100%;

      display: flex;
      flex-flow: column nowrap;
      gap: 3px;

      .description {
        :first-child {
          margin-top: 0;
        }
        :last-child {
          margin-bottom: 0;
        }

          padding: 0.2rem 0.5rem;

          border-radius: 0.5rem;
          border: 1px solid var(--color-border-light-2);

          background: var(--pf1-bg-dark-0);
      }
    }
  }
}
