.pf1.sheet {
  .prosemirror {
    menu {
      background: var(--pf1-bg-dark-0);
    }

    // Fix prosemirror toggle button being weird
    > .toggle {
      border: 1px solid var(--color-border-light-tertiary);
      border-radius: 4px;

      // Fix Foundry's toggle button being transparent and overlapping with text and becoming potentially unreadable
      background: #dcb;
    }
  }
}
