.pf1-v2.categorized-item-picker {
  .window-content {
    padding: 0;
  }

  .widget-content {
    display: flex;
    height: 100%;

    .item-picker-categories {
      flex: 4;
      border-right: 1px solid var(--pf1-v2-border-muted);
      padding: 1rem 0;
      justify-content: flex-start;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: auto;
      background: var(--pf1-v2-background-fade-10);

      .category {
        display: block;
        width: 100%;
        padding: 0.25rem 1rem;
        font-size: var(--font-size-16);
        border-bottom: none;
        text-shadow: none;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        color: var(--pf1-v2-text-primary);
        text-decoration: none;

        &:hover {
          background: var(--pf1-v2-background-fade-10);
        }

        &.active {
          background-color: var(--pf1-v2-background-primary);
          color: var(--pf1-v2-text-inverted);
        }
      }
    }

    .item-picker-items {
      flex: 6;
      padding: 1rem;
      height: 100%;
      overflow: auto;

      .tab.active {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .item {
          font-size: var(--font-size-14);
          cursor: pointer;
          border: 1px solid transparent;
          border-radius: 4px;
          padding: 0.25rem 0.5rem;
          background: var(--pf1-v2-background-fade-10);

          &:hover {
            background: var(--pf1-v2-background-fade-20);
          }

          &.pre-selected {
            background-color: var(--pf1-v2-background-primary);
            color: var(--pf1-v2-text-inverted);

            &:hover {
              background-color: var(--pf1-v2-background-secondary);
            }
          }
        }
      }
    }
  }
}
