.pf1-v2.application.sheet.change-editor {
  input {
    flex: 3;
  }

  // Formula field does not use form-group, so mimic parts necessary for overall styling
  .form-group-mimic {
    margin-bottom: 0.5rem;
  }

  .formula {
    label {
      line-height: var(--input-height);
    }

    .formula-container {
      display: flex;
      align-items: center;

      .formula-type {
        background-color: var(--pf1-v2-background-input);
        border: var(--pf1-v2-border-width) solid var(--pf1-v2-border-input);
        border-right: unset;
        padding: 0 0.5rem;
        height: var(--input-height);
        line-height: var(--input-height);
        font-size: var(--font-size-14);
        border-top-left-radius: var(--pf1-v2-border-radius);
        border-bottom-left-radius: var(--pf1-v2-border-radius);
      }

      input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  :is(.change-target.invalid, :invalid):not(:hover, :active, :focus) {
    border-color: var(--pf1-v2-border-error);
  }

  .change-target {
    height: var(--input-height);
    line-height: var(--input-height);
    font-size: var(--font-size-14);
  }

  .change-target {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }

  :is(select, .instructions, .priority input) {
    text-align: center;
  }
}
