<div class="form-group flexrow descriptors">
  <label>{{localize "PF1.DescriptorPlural"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
      {{#each descriptors.selected as |v k|}}
        <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-title="PF1.DescriptorPlural" data-for="system.descriptors" data-options="spellDescriptors"><i class="fas fa-edit" inert></i></a>
  </div>
</div>
