
{{#*inline "magicItemTable"}}
<h2>{{localize "PF1.MagicItems"}} ({{#if identified}}{{localize "PF1.Identified"}}{{else}}{{localize "PF1.Unidentified"}}{{/if}})</h2>
<table class="magic-items-table">
  <thead>
    <tr>
      <th class="name">{{localize "PF1.Item"}}</th>
      <th class="aura">{{localize "PF1.Aura.Single"}}</th>
      <th class="cl">{{localize "PF1.CasterLevel"}}</th>
      {{#if isGM}}
      <th class="identify-dc">{{localize "PF1.IdentifyDC"}}</th>
      <th class="identify"><i class="icon-pf icon-quill-ink" data-tooltip="PF1.Identified"></i></th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
  {{#each items}}
    <tr class="item" data-item-id="{{id}}">
      <td class="nocenter"{{#if unidentifiedName}} data-tooltip="{{unidentifiedName}}"{{/if}} data-tooltip-direction="UP">
        <div class="item-name">
          <img src="{{img}}" class="image" width="24" height="24">
          <span class="name">{{name}}</span>
          {{#if (gt quantity 1)}}<span class="quantity"> (x{{quantity}})</span>{{/if}}
        </div>
      </td>
      <td class="aura">{{aura.strength}} <b>{{aura.school}}</b></td>
      <td class="caster-level">{{cl}}</td>
      {{#if @root.isGM}}
      <td class="identify-dc">{{identifyDC}}</td>
      <td class="controls">
        <a class="item-control item-identify" data-tooltip="{{#if identified}}PF1.Unidentify{{else}}PF1.Identify{{/if}}">
          {{#if identified}}
          <i class="fas fa-check" inert></i>
          {{else}}
          <i class="fas fa-times" inert></i>
          {{/if}}
        </a>
      </td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
{{/inline}}

{{#if (or items.identified.length items.unidentified.length)}}
<div class="magic-items">
  {{#if items.identified.length}}
  {{> magicItemTable items=items.identified identified=true}}
  {{/if}}
  {{#if items.unidentified.length}}
  {{> magicItemTable items=items.unidentified identified=false}}
  {{/if}}
</div>
{{/if}}
